<<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>logout</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}">
</head>
<body>
<div class="bg-light" style="background-color:white; padding:40px;">
    <font style="color:red; padding:30px; margin:50px;"><h1> Logged out successfully  </h1></font>
    <a href="{% url 'students.login' %}" class="btn btn-primary">Login Again</a>

</div>
<script src="{% static 'students/js/script.js'%}"> </script>

</body>
</html>