{% load static %}
<html>
<head>
<title>  Change password Student </title>
</head>
<body>

  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<div class="bg-light" style="background-color:white; padding:40px;" >
    <h1> change password  for {{student.name}}</h1>

<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" name="email"  class="form-control" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="text" name="password"  class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label class="form-label">Confrim Password</label>
            <input type="text" name="password2"  class="form-control" aria-describedby="emailHelp">
        </div>
          
        <button type="submit" class="btn btn-primary">change password</button>
        </form></div>
<script src="{% static 'js/bootstrap.js'%}"> </script>
</body>
</html>